*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f5f6f8;
}

.topbar{
background:#021632;
color:white;
padding:12px 40px;
display:flex;
justify-content:space-between;
font-size:14px;
}

nav{
background:#031f4f;
padding:20px 40px;
display:flex;
justify-content:space-between;
align-items:center;
}

.logo img{
height:35px;
width:auto;
}

nav ul{
display:flex;
gap:30px;
list-style:none;
color:white;
}

.icons{
color:white;
font-size:20px;
}

.hero{
background:linear-gradient(135deg,#021632,#003eb5);
display:flex;
align-items:center;
justify-content:space-between;
padding:40px 60px;
color:white;
}

.hero-text{
max-width:500px;
}

.hero h1{
font-size:70px;
line-height:1.1;
margin-bottom:25px;
}

.hero h1 span{
color:#0b69ff;
}

.hero p{
font-size:22px;
margin-bottom:30px;
}

.hero button{
background:#0b69ff;
color:white;
border:none;
padding:15px 30px;
border-radius:10px;
font-size:18px;
cursor:pointer;
}

.hero-image img{
max-width:450px;
width:100%;
}

.products-section{
padding:70px 40px;
text-align:center;
}

.products-section h2{
font-size:48px;
margin-bottom:15px;
color:#16233c;
}

.products{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:30px;
margin-top:50px;
}

.card{
background:white;
border-radius:20px;
padding:25px;
box-shadow:0 8px 20px rgba(0,0,0,.08);
position:relative;
text-align:left;
}

.product-img{
width:100%;
height:250px;
object-fit:contain;
}

.card h3{
margin-top:15px;
font-size:32px;
}

.card p{
margin-top:10px;
color:#666;
}

.price{
font-size:38px;
font-weight:bold;
margin:20px 0;
}

.card button{
width:100%;
padding:14px;
background:#0b69ff;
color:white;
border:none;
border-radius:10px;
cursor:pointer;
}

.badge{
position:absolute;
top:15px;
left:15px;
background:#0b69ff;
color:white;
padding:8px 14px;
border-radius:20px;
font-size:12px;
font-weight:bold;
}

.features{
background:#021632;
color:white;
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
padding:40px;
text-align:center;
}

.features h3{
font-size:40px;
margin-bottom:10px;
}

footer{
background:white;
padding:50px;
text-align:center;
}

.footer-logo img{
height:50px;
margin-bottom:20px;
}

@media(max-width:900px){

.hero{
flex-direction:column;
text-align:center;
}

.hero h1{
font-size:50px;
}

.features{
grid-template-columns:1fr;
}

}
